<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>17E27E05-02BA-489D-AC4A-CE170BFB245B</key>
		<array>
		</array>
		<key>26B2AF8D-2FFA-47E6-A0C6-54D9C224BC61</key>
		<array>
		</array>
		<key>2757AEAB-43E9-4DE0-A30B-BCA51B1A5D7B</key>
		<array>
		</array>
		<key>27BF9E1F-A1AD-45D2-A0C8-8A50E4EABF87</key>
		<array>
		</array>
		<key>351ADB42-C9DB-42ED-B739-8FC5B698AB3F</key>
		<array>
		</array>
		<key>45CC4632-CC94-4B38-8081-9670DD843F62</key>
		<array>
		</array>
		<key>52FDFFAE-B750-4C4C-8B29-BCB728263DA6</key>
		<array>
		</array>
		<key>53766ED0-B222-4D67-9A22-F7C15CB2A4A1</key>
		<array>
		</array>
		<key>5D146C0F-1F90-4D33-B966-1AFE76B18DB5</key>
		<array>
		</array>
		<key>6585341E-B9AA-4461-A293-72FB2376F542</key>
		<array>
		</array>
		<key>6E3E7496-8EAE-4B3B-91E9-FB44A775B7C4</key>
		<array>
		</array>
		<key>7020D5AC-F5F6-4A36-8EF9-23008883D9FB</key>
		<array>
		</array>
		<key>712358C4-CD3F-4BD1-9D5A-7F115E97620B</key>
		<array>
		</array>
		<key>74CBF18D-ED5A-4CF0-9C1E-028BEC3B6D4D</key>
		<array>
		</array>
		<key>A593DEC9-9C74-44A3-A157-32550135DEA8</key>
		<array>
		</array>
		<key>AF0F7C48-7319-47E6-8018-C1703766675F</key>
		<array>
		</array>
		<key>BCC6EFE5-4D95-4A0C-9FAF-0A00666DBD3B</key>
		<array>
		</array>
		<key>C49CD9D6-4A17-42D2-A399-881F7F6937EE</key>
		<array>
		</array>
		<key>CF0FA84F-CBB8-4B5C-A2A0-DF86B85AA740</key>
		<array>
		</array>
		<key>D252DEDE-03E3-4E48-B124-1557095951D1</key>
		<array>
		</array>
		<key>DC633094-A7BC-43B2-B947-7D8C00FCB100</key>
		<array>
		</array>
		<key>DF176C25-EFCF-4D01-9863-203A656DCCDD</key>
		<array>
		</array>
		<key>E755F804-A1CA-42D4-AD4B-6E27F889D0A8</key>
		<array>
		</array>
		<key>EC539863-AAFC-4F5A-80E4-86FF68A698CD</key>
		<array>
		</array>
	</dict>
	<key>createdby</key>
	<string>Akihiro Uchida</string>
	<key>description</key>
	<string>to test alfred workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gotchas</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>27BF9E1F-A1AD-45D2-A0C8-8A50E4EABF87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>712358C4-CD3F-4BD1-9D5A-7F115E97620B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BCC6EFE5-4D95-4A0C-9FAF-0A00666DBD3B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>EC539863-AAFC-4F5A-80E4-86FF68A698CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>7020D5AC-F5F6-4A36-8EF9-23008883D9FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>6E3E7496-8EAE-4B3B-91E9-FB44A775B7C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>keyword</key>
				<string>aaa</string>
				<key>title</key>
				<string>aaa</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>52FDFFAE-B750-4C4C-8B29-BCB728263DA6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>triggerid</key>
				<string>aaa</string>
				<key>triggername</key>
				<string>aaa</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>AF0F7C48-7319-47E6-8018-C1703766675F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>D252DEDE-03E3-4E48-B124-1557095951D1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6585341E-B9AA-4461-A293-72FB2376F542</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>aaa</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>26B2AF8D-2FFA-47E6-A0C6-54D9C224BC61</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>script</key>
				<string>query="{query}"</string>
				<key>title</key>
				<string>aaa</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>45CC4632-CC94-4B38-8081-9670DD843F62</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>5D146C0F-1F90-4D33-B966-1AFE76B18DB5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>query="{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.script</string>
			<key>uid</key>
			<string>17E27E05-02BA-489D-AC4A-CE170BFB245B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>name</key>
				<string>aaa</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>DC633094-A7BC-43B2-B947-7D8C00FCB100</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>aaa</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>A593DEC9-9C74-44A3-A157-32550135DEA8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>74CBF18D-ED5A-4CF0-9C1E-028BEC3B6D4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>url</key>
				<string>http://google.co.jp</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C49CD9D6-4A17-42D2-A399-881F7F6937EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>aaa</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>E755F804-A1CA-42D4-AD4B-6E27F889D0A8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>DF176C25-EFCF-4D01-9863-203A656DCCDD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>2757AEAB-43E9-4DE0-A30B-BCA51B1A5D7B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>query="{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53766ED0-B222-4D67-9A22-F7C15CB2A4A1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  -- your script here
end alfred_script</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>351ADB42-C9DB-42ED-B739-8FC5B698AB3F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>CF0FA84F-CBB8-4B5C-A2A0-DF86B85AA740</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>test</string>
	<key>uidata</key>
	<dict>
		<key>17E27E05-02BA-489D-AC4A-CE170BFB245B</key>
		<dict>
			<key>ypos</key>
			<real>370.0</real>
		</dict>
		<key>26B2AF8D-2FFA-47E6-A0C6-54D9C224BC61</key>
		<dict>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>2757AEAB-43E9-4DE0-A30B-BCA51B1A5D7B</key>
		<dict>
			<key>ypos</key>
			<real>850.0</real>
		</dict>
		<key>27BF9E1F-A1AD-45D2-A0C8-8A50E4EABF87</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
		<key>351ADB42-C9DB-42ED-B739-8FC5B698AB3F</key>
		<dict>
			<key>ypos</key>
			<real>1090.0</real>
		</dict>
		<key>45CC4632-CC94-4B38-8081-9670DD843F62</key>
		<dict>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>52FDFFAE-B750-4C4C-8B29-BCB728263DA6</key>
		<dict>
			<key>ypos</key>
			<real>130.0</real>
		</dict>
		<key>53766ED0-B222-4D67-9A22-F7C15CB2A4A1</key>
		<dict>
			<key>ypos</key>
			<real>970.0</real>
		</dict>
		<key>5D146C0F-1F90-4D33-B966-1AFE76B18DB5</key>
		<dict>
			<key>ypos</key>
			<real>370.0</real>
		</dict>
		<key>6585341E-B9AA-4461-A293-72FB2376F542</key>
		<dict>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>6E3E7496-8EAE-4B3B-91E9-FB44A775B7C4</key>
		<dict>
			<key>ypos</key>
			<real>130.0</real>
		</dict>
		<key>7020D5AC-F5F6-4A36-8EF9-23008883D9FB</key>
		<dict>
			<key>ypos</key>
			<real>130.0</real>
		</dict>
		<key>712358C4-CD3F-4BD1-9D5A-7F115E97620B</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
		<key>74CBF18D-ED5A-4CF0-9C1E-028BEC3B6D4D</key>
		<dict>
			<key>ypos</key>
			<real>490.0</real>
		</dict>
		<key>A593DEC9-9C74-44A3-A157-32550135DEA8</key>
		<dict>
			<key>ypos</key>
			<real>490.0</real>
		</dict>
		<key>AF0F7C48-7319-47E6-8018-C1703766675F</key>
		<dict>
			<key>ypos</key>
			<real>130.0</real>
		</dict>
		<key>BCC6EFE5-4D95-4A0C-9FAF-0A00666DBD3B</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
		<key>C49CD9D6-4A17-42D2-A399-881F7F6937EE</key>
		<dict>
			<key>ypos</key>
			<real>610.0</real>
		</dict>
		<key>CF0FA84F-CBB8-4B5C-A2A0-DF86B85AA740</key>
		<dict>
			<key>ypos</key>
			<real>1210.0</real>
		</dict>
		<key>D252DEDE-03E3-4E48-B124-1557095951D1</key>
		<dict>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>DC633094-A7BC-43B2-B947-7D8C00FCB100</key>
		<dict>
			<key>ypos</key>
			<real>370.0</real>
		</dict>
		<key>DF176C25-EFCF-4D01-9863-203A656DCCDD</key>
		<dict>
			<key>ypos</key>
			<real>730.0</real>
		</dict>
		<key>E755F804-A1CA-42D4-AD4B-6E27F889D0A8</key>
		<dict>
			<key>ypos</key>
			<real>610.0</real>
		</dict>
		<key>EC539863-AAFC-4F5A-80E4-86FF68A698CD</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
